@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<h1>About TinyShop</h1>

<p>Loading page content...</p>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private bool firstRender = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.firstRender = false;
            var uri = new Uri(NavigationManager.Uri);
            var queryString = uri.Query;

            // Os parâmetros de query são opcionais
        }
    }
}